/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: 'FontName';
    src: url('FileName.eot');
    src: url('FileName.eot?#iefix') format('embedded-opentype'),
         url('FileName.woff') format('woff'),
         url('FileName.ttf') format('truetype'),
         url('FileName.svg#FontName') format('svg');
    font-style: normal;
    font-weight: normal;
}


header {
    text-decoration: none;
    opacity: 0.5;
    background-color: lightgray;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
}
 #fifa{

    
    text-align: center;
    background-color:darkgray;
    opacity: 1.0;
    border-radius: 13px;


}
header ul{
    display:flex;
    justify-content: space-around;
  list-style: none;
  font-size: 20px; 
}

body {
    background-color: black;
}
#nav1:hover {
color: orange;

}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    opacity: .0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
 opacity: .0;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*====================slide 2========================*/
.team-invoer{
    padding-left: 6%;
    padding-top: 0px;
 display: flex; 
 height: 400px;
 margin: 0 auto;
 
}
.style{
  display: flex;
list-style: none;
 flex-direction: row;
 padding-right: 20%;
 padding-top: 10%;

}
.h5-player{
  padding-left: 50px;

}
.team{
  display: flex;
  justify-content: space-between;
  width: 700px;
  padding-left: 7%;
  padding-top: 20%;
}

#addplayer{
    margin-right: -10px;
    height: 30px;
  

}
.input-playerinf{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  height: 200px;
}

#addplayerbutton {
    background-color:  #306ccc;
    height: 30px;
    border-radius: 7px; 
    border: none;
    color: white;
    font-weight: bold;
    text-align: center;

}
.toevoegen{
  padding-left: 15%;
}
#form-ul li{
    
    margin: 0 auto;
    padding-bottom: 6%;
    text-align: center;
    display: flex;
    list-style: none;



}
body{
  
    background-image: url("img/soccer.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width:100%;
    
}
h5{
   font-weight: bold;
    color: white;
    margin: 0 auto;

}
.speler-1{
  padding-left: 23%;
  padding-bottom: 5%;
}

.text-input{
    padding-left: 4%;
    padding-right: 1%;
    height: 30%;
}
.text-input h5{
    padding-bottom: none;
}
#inv-tm{
    
    display: flex;
   
    padding-right: 20%;
    
    margin: 0 auto;
    border-radius: 3px;

}
h4{
    padding-top: 20px;
    color: #dddddd;
}
.dropdown{
  padding-left: 15%;
    width: 80%;
}
.dropdown h5{

padding-bottom: 6%;
}
.submit{
    padding-top: 50px;
    padding-left: 17%;
}

.button {

  display: inline-block;
  border-radius: 20px;
  background-color: #306ccc;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
/*====================slide 1========================*/
#button{
 margin: 0 auto;
    display: flex;
    text-align: center;
    border-radius: 13px;   
}
#butto{
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    text-align: center;
}

.slideshow-container{
    padding-top: 50px;
}

/*====================2e slide ========================*/
.formall ul {
  list-style: none;
  }
.champ{

  margin: 0 auto;
  display: flex;
  text-align: center;
  width: 90px;
flex-direction: column;
padding-bottom: 1%;

}
#champ{
  
  
  height: 60px;
  width:70px;

}
#champw
{
  padding-right: 20px;
}
.formall{
  padding-top: 3%;
  width: 1000px;
}

.overall {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  text-align: center;
  justify-content: space-around;
  padding-right: 95px;
  padding-bottom: 100px;  
}

.row1{
  padding-bottom: 30%

}

.row2{

  padding-top: 20%;
  
}

.row3{
  padding-top: 30%;
}

.row4{
  padding-bottom: 20%
}

.singles{
  padding-top: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

#vspic{
  padding-bottom: 30px;
  height: 80px;
  width: 90px;
}
#picvs{
  height:70px ;
  width: 70px;
}
#paddingtool{
  width: 2px;
  height: 200px;
}

.dropdown2{
  margin: 0 auto;
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  padding-right: 50px;
  list-style: none;
  scale:50px;
  
}
#test5{
  scale: 50.90px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
